@charset "utf-8";

/*
   New Perspectives on HTML and CSS, 7th Edition
   Tutorial 6
   Case Problem 3

   Columns Style Sheet
   Author: Connor J Webdale 
   Date: 12.11.18 

   Filename:   lht_columns.css

*/

/* Column Styles */
/*Sets the column width to 260 pixels, sets the column gap to 20 pixels, and adds a 1 pixel dividing line between columns, including progresssive enhancement. Sets the minimum size of widoes and orphans to 2 lines. */
article {
    -moz-column-width: 260px; 
    -webkit-column-width: 260px; 
    column-width: 260px; 

    -moz-column-gap: 20px; 
    -webkit-column-gap: 20px; 
    column-gap: 20px; 

    -moz-column-rule: 1px solid rgb(154, 64, 31); 
    -webkit-column-rule: 1px solid rgb(154, 64, 31); 
    column-rule: 1px solid rgb(154, 64, 31); 

    widows: 2; 
    orphans: 2; 
}

/*Allows the h1 of the article to span all columns. */
article h1 {
    column-span: all; 
}



