@charset "utf-8";

/*
   New Perspectives on HTML and CSS, 7th Edition
   Tutorial 6
   Case Problem 3

   Calendar Style Sheet
   Author: Connor J Webdale 
    Date: 12.11.18 

   Filename:   lht_tables.css

*/

/* ===============================
   Mobile Styles: 0px to 640px 
   ===============================
*/
@media only screen and (max-width: 640px) {

    /*Displays as block, allowing for a two column display*/
    table,
    tbody,
    tr,
    td,
    th,
    caption {
        display: block;
    }

    /*Hides repetitive information on mobile view. */
    td h1 {
        display: none;
    }

    thead {
        display: none;
    }

    /*Displays the caption in white text on a medium gray background with a font size of 1.5 em and line height of 2 em. */
    table caption {
        color: white;
        background-color: rgb(41, 41, 41);
        font-size: 1.5em;
        line-height: 2em;
    }

    /*Adds a border to data cells. Changes text color, applies relative positioning, and sets a minimum height. */
    td {
        border: 1px dotted gray;
        color: rgb(11, 12, 145);
        position: relative;
        padding-left: 40%;
        min-height: 40px;
    }

    /*Displays each week in an alternating color. */
    tr:nth-of-type(odd) {
        background-color: rgb(255, 235, 178);
        border: 2px solid gray;
    }

    /*Displays the data-date atribute before each data cell. */
    table td:before {
        content: attr(data-date);
        position: absolute;
        left: 0;
        top: 0;
        width: 40%;
        padding: 5px;
    }
}

/* =============================================
   Tablet and Desktop Styles: greater than 640px
   =============================================
*/
@media only screen and (min-width: 641px) {

    /*Displays a background image behind the calendar, with no tiling and positioned in the bottom right corner. Adds a double border. Collapses the borders, centers the table, and uses a fixed layout. */
    table {
        background-image: url(lht_photo1.png);
        background-repeat: no-repeat;
        background-position: bottom right;
        background-size: 40%;
        border: 6px double rgb(154, 64, 3);
        border-collapse: collapse;
        margin: 20px auto;
        table-layout: fixed;
        width: 85%;
    }

    /*Adds a border to table head and table data cells, sets the font size to 0.85 em with normal weight, adds a 5 pixel padding space, aligns the text to the top of the cell, and sets the width. Allows the browser to wrap cell text. */
    th,
    td {
        border: 1px solid gray;
        font-size: 0.85em;
        font-weight: normal;
        padding: 5px;
        text-align: top;
        width: 14.28%;
        word-wrap: break-word;
    }

    /*Applies a semi-transparent background color and changes text color. */
    td {
        background-color: rgba(171, 171, 171, 0.6);
        color: rgb(11, 12, 145);
    }

    /*Changes all data cells which data-date contains the word 'feb' to appear different from other months. */
    td[data-date~="Feb"] {
        background-color: rgba(232, 214, 148, 0.6);
        box-shadow: inset 0px 0px 20px gray;
    }

    /*Displays the caption at the top of the table, centers caption text, adds 10 pixels to the bottom padding, and sets the font size to 1.2 em. */
    table caption {
        caption-side: top;
        text-align: center;
        padding-bottom: 10px;
        font-size: 1.2em;
        kerning: 3px;
    }

    /*Changes the background and text color for heading cells within the table header. */
    thead th {
        background-color: rgb(154, 64, 3);
        color: white;
    }
}